API_ID=26544005
API_HASH=66f6221e5ce9109827b50eaf3d105025
BOT_TOKEN=7571662710:AAGC7kOJ1qC1VNn_5T159O367yrY4L9Wq9M
MONGO_DB_URI=mongodb+srv://wtfbruh:KontolXD#123@fsub.brzgete.mongodb.net/?retryWrites=true&w=majority&appName=fsub
LOG_GROUP_ID=-1002554488354
OWNER_ID=8107432436
SUPPORT_CHANNEL=https://t.me/lokontolya
SUPPORT_GROUP=https://t.me/ultraroidsupport
START_IMG_URL=https://files.catbox.moe/nu2928.jpg
STRING_SESSION=BQGVB4UAtj5zexeS7Ojmxg5xs2vEUByhFAFAecokH82uNitVA8Yg0dBmWphD1Ah6rx1s2h1LkKGyL8fzXWdeD0VwTXl3p0mLh9qt6uvN0DPkEqf5T-uXMQnqdhI9qwzCbhzaPP5YPGdZgBExHEaMlQ-YKTeaxxDPKGL7LMU6ueGcb4s8JfzHi2Rz8ne9vWUMiDSsEM8huMw0PobOH1WVLMLUm8Irz18fbkWt_W_7Di17wg6ELC315jLHm5yIYKHgv2wD9XS4JISLNsDGe8k7OKU3vtXFiCzn4QY9PKfj5mijr-ol-BWAoMNPLvrVUVdEW40CNyvj0FLS6l6pZursVZnXolqS7gAAAAFd5XJmAA
